astroid==3.2.4
asyncio==3.4.3
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
colorama==0.4.6
coverage==7.6.1
cryptography==43.0.0
dill==0.3.8
idna==3.7
isort==5.13.2
mccabe==0.7.0
mypy==1.11.1
mypy-extensions==1.0.0
platformdirs==4.2.2
pretty-errors==1.2.25
pycparser==2.22
pylint==3.2.6
pyotp==2.9.0
python-dotenv==1.0.1
requests==2.32.3
tomlkit==0.13.0
types-requests==2.32.0.20240712
typing-extensions==4.12.2
urllib3==2.2.2
